.ajc-background-black {
  background-color: #000000;
}

.ajc-background-grey-1 {
  background-color: #F6F6F6;
}

.ajc-background-grey-2 {
  background-color: #757575;
}

.ajc-background-red {
  background-color: #AE1E01;
}

.ajc-background-transparent {
  background-color: transparent;
}

.ajc-background-white {
  background-color: #FFFFFF;
}

.ajc-background-yellow {
  background-color: #FFFBDD;
}

.ajc-body-full-screen {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.ajc-border-colour-white {
  border-color: #ffffff;
}

.ajc-border-colour-black {
  border-color: #000000;
}

.ajc-default {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.ajc-dropdown-menu-container {
  display: flex;
  position: absolute;
  flex-direction: column;
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
  border-color: #FFFFFF;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.ajc-dropdown-menu-container-hidden {
  opacity: 0;
  transition: none;
}

.ajc-dropdown-menu-container-visible {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.ajc-dropdown-menu-item {
  display: flex;
  align-items: center;
  padding: 5px;
  font-family: inherit;
  font-size: inherit;
  height: 30px;
  border-width: 1px;
  border-style: solid;
  border-left: none;
  border-right: none;
  border-top: none;
  border-color: #FFFFFF;
  white-space: nowrap;
  text-decoration: none;
  outline: none;
}

.ajc-footer-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 55px;
  min-height: 55px;
  max-height: 55px;
  width: 100%;
  max-width: 1903px;
  min-width: 703px;
  font-size: 16px;
  cursor: default;
}

.ajc-footer-content-inner {
  display: flex;
  justify-content: center;
  flex-direction: row;
  max-width: 1349px;
  min-width: 683px;
  user-select: none;
  font-weight: 600;
}

.ajc-footer-content-outer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

.ajc-header-border-top-grey {
  border-top: 5px solid #757575;
  border-right: none;
  border-bottom: none;
  border-left: none;
}

.ajc-header-border-top-red {
  border-top: 5px solid #AE1E01;
  border-right: none;
  border-bottom: none;
  border-left: none;
}

.ajc-header-container {
  position: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  height: 165px;
  min-height: 165px;
  max-height: 165px;
  width: 100%;
  max-width: 1903px;
  min-width: 703px;
}

.ajc-header-content-inner {
  display: flex;
  position: relative;
  flex-direction: row;
  height: 145px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 1329px;
  max-width: 1349px;
  min-width: 683px;
}

.ajc-header-content-outer {
  display: flex;
  position: absolute;
  justify-content: center;
  width: inherit;
  height: inherit;
  top: 0px;
  left: 0px;
}

.ajc-header-image {
  object-fit: cover;
  height: 165px;
  min-height: 165px;
  max-height: 165px;
  width: 100%;
  max-width: 1903px;
  min-width: 703px;
  opacity: 0;
  transition: opacity .25s ease-in-out;
}

.ajc-header-logo {
  height: 145px;
  min-height: 145px;
  max-height: 145px;
  width: 145px;
  min-width: 145px;
  max-width: 145px;
  opacity: 0;
  transition: opacity .25s ease-in-out;
  padding-right: 10px;
}

.ajc-header-text-outline-black {
  text-shadow: 0.5px 0.5px 0 #000000,
    -0.5px 0.5px 0 #000000,
    0.5px -0.5px 0 #000000,
    -0.5px -0.5px 0 #000000,
    0px 0.5px 0 #000000,
    0px -0.5px 0 #000000,
    -0.5px 0px 0 #000000,
    0.5px 0px 0 #000000,
    1px 1px 0 #000000,
    -1px 1px 0 #000000,
    1px -1px 0 #000000,
    -1px -1px 0 #000000,
    0px 1px 0 #000000,
    0px -1px 0 #000000,
    -1px 0px 0 #000000,
    1px 0px 0 #000000,
    0.5px 1px 0 #000000,
    -0.5px 1px 0 #000000,
    0.5px -1px 0 #000000,
    -0.5px -1px 0 #000000,
    1px 0.5px 0 #000000,
    -1px 0.5px 0 #000000,
    1px -0.5px 0 #000000,
    -1px -0.5px 0 #000000;
}

.ajc-header-text-outline-white {
  text-shadow: 0.5px 0.5px 0 #FFFFFF,
    -0.5px 0.5px 0 #FFFFFF,
    0.5px -0.5px 0 #FFFFFF,
    -0.5px -0.5px 0 #FFFFFF,
    0px 0.5px 0 #FFFFFF,
    0px -0.5px 0 #FFFFFF,
    -0.5px 0px 0 #FFFFFF,
    0.5px 0px 0 #FFFFFF,
    1px 1px 0 #FFFFFF,
    -1px 1px 0 #FFFFFF,
    1px -1px 0 #FFFFFF,
    -1px -1px 0 #FFFFFF,
    0px 1px 0 #FFFFFF,
    0px -1px 0 #FFFFFF,
    -1px 0px 0 #FFFFFF,
    1px 0px 0 #FFFFFF,
    0.5px 1px 0 #FFFFFF,
    -0.5px 1px 0 #FFFFFF,
    0.5px -1px 0 #FFFFFF,
    -0.5px -1px 0 #FFFFFF,
    1px 0.5px 0 #FFFFFF,
    -1px 0.5px 0 #FFFFFF,
    1px -0.5px 0 #FFFFFF,
    -1px -0.5px 0 #FFFFFF;
}

.ajc-header-title-subtitle-bottom {
  display: 'flex';
  padding-top: 2.5px;
  height: 65px;
}

.ajc-header-title-subtitle-container {
  display: flex;
  flex-direction: column;
  padding-top: 4px;
  height: 145px;
  min-height: 145px;
  max-height: 145px;
  width: inherit;
}

.ajc-header-title-subtitle-heading-one {
  margin: 0;
  padding: 0;
  font-size: 50px;
  cursor: default;
  user-select: none;
}

.ajc-header-title-subtitle-heading-two {
  margin: 0;
  padding: 0;
  font-size: 25px;
  cursor: default;
  user-select: none;
}

.ajc-header-title-subtitle-top {
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 2.5px;
  height: 80px;
}

.ajc-hidden {
  visibility: hidden;
}

.ajc-hyperlink, .ajc-hyperlink:visited, .ajc-hyperlink:hover, .ajc-hyperlink:active {
  color: #000D8E;
  text-decoration: none;
}

.ajc-main-content-container {
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 440px;
  width: 100%;
  max-width: 1903px;
  min-width: 703px;
}

.ajc-main-content-heading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 1349px;
  min-width: 683px;
  user-select: none;
}

.ajc-main-content-heading-divider-inner {
  display: flex;
  justify-content: center;
  width: 600px;
  height: 19px;
  min-height: 19px;
  max-height: 19px;
  border-style: dotted;
  border-width: 1px;
  border-color: #000000;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.ajc-main-content-heading-divider-outer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.ajc-main-content-heading-text {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 10px;
  font-weight: 750;
}

.ajc-main-content-inner {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  max-width: 1349px;
  min-width: 703px;
}

.ajc-main-content-outer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: auto;
  padding-top: 25px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 25px;
}

.ajc-menu-bar-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 55px;
  min-height: 55px;
  max-height: 55px;
  width: 100%;
  max-width: 1903px;
  min-width: 703px;
  font-size: 18px;
}

.ajc-menu-bar-content-inner {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 100%;
  max-width: 1349px;
  min-width: 683px;
  font-weight: 600;
}

.ajc-menu-bar-content-outer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.ajc-menu-bar-item-content {
  display: flex;
  align-items: center;
  height: inherit;
  width: inherit;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
}

.ajc-menu-bar-item-grey {
  background: transparent;
  transition: none;
  color: #FFFFFF;
}

.ajc-menu-bar-item-grey:hover {
  background: #939393;
  transition: all 0.3s ease-in-out 0s;
}

.ajc-menu-bar-item-red {
  background: transparent;
  transition: none;
  color: #FFFFFF;
}

.ajc-menu-bar-item-red:hover {
  background: #D35A44;
  transition: all 0.3s ease-in-out 0s;
}

.ajc-menu-bar-item-single {
  display: flex;
  text-align: center;
  white-space: nowrap;
  height: 55px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 7.5px;
  margin-right: 7.5px;
  user-select: none;
}

.ajc-screenshot-caption {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: transparent;
  margin: 0px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  max-width: 1349px;
  min-width: 683px;
  word-wrap: break-word;
  font-weight: 600;
}

.ajc-screenshot-image {
  object-fit: cover;
  height: 100%;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1329px;
  min-width: 683px;
  opacity: 0;
  transition: opacity .25s ease-in-out;
}

.ajc-small-menu-icon-container {
  display: flex;
  flex-direction: column;
  width: 10px;
  height: 10px;
}

.ajc-small-menu-icon-lower {
  width: 10px;
  height: 2px; 
}

.ajc-small-menu-icon-upper {
  width: 10px;
  height: 2px; 
  margin-bottom: 2px;
}

.ajc-small-right-arrow-icon-container {
  display: flex;
  height: 5px;
  width: 5px;
  border-style: solid;
  border-width: 2px;
  border-top: none;
  border-left: none;
  transform: rotate(-45deg);
}

.ajc-text-black {
  color: #000000;
}

.ajc-text-paragraph-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  line-height: 1.5em;
  background-color: transparent;
  margin: 0px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  max-width: 1349px;
  min-width: 663px;
  word-wrap: break-word;
}

.ajc-text-paragraph-heading {
  font-size: 20px;
  font-weight: 600;
}

.ajc-text-paragraph-upper-spacing {
  padding-top: 30px;
}

.ajc-text-white {
  color: #FFFFFF;
}

.ajc-visible {
  visibility: visible;
}
